.form {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid var(--neutral-light-gray);
  position: relative;
  padding-bottom: 4rem;
  margin-bottom: 4rem;

  &__content {
    display: flex;
    column-gap: 1rem;

    label {
      font-size: 0.7rem;
      color: var(--neutral-smokey-gray);
      text-transform: uppercase;
      letter-spacing: 0.2rem;
    }

    &__input {
      font-size: 1.5rem;
      font-weight: 700;
      padding: 0.5rem;
      width: 100%;
      border-radius: 5px;
      border: 1px solid var(--neutral-light-gray);
    }

    &__input::placeholder {
      color: var(--neutral-light-gray);
    }
    &__input:focus-visible {
      outline: var(--primary-purple) auto 1px;
    }
  }

  &__submit {

    display: flex;
    justify-content: center;

    &__button {
      position: absolute;
      bottom: -2rem;
      border-radius: 50%;
      padding: 1rem;
      width: 4rem;
      height: 4rem;
      background-color: var(--primary-purple);
      border: none;

      svg {
        width: 2rem;
        height: 2rem;
      }
    }

    &__button:hover {
      background-color: var(--neutral-off-black);
      cursor: pointer;
    }
  }
}